// *** Styles for the Application Header component *** //

.header {
    background: $dark-blue;
}

// Header bar element
.header__content {
    align-items: center; // <-- vertical align
    display: flex;
    justify-content: space-between; // <-- distributes left-over space between other content and button
    padding: $s-size 0;
}

// Header title element
.header__title {
    color: white;
    text-decoration: none; // <-- remove underline for link
    h1 {
        margin: 0; // <-- remove whitespace around the class
    }
}